$green:     #17A095;
$lightGreen:#eefffe;
$white:     #ffffff;
$black:     #000000;

$primary:     $green;
$default:     $black;
$light:       $white;
$lightBg:     $lightGreen;

:root {
  --cv-header-height: 57px;
  --cv-container-gap: 16px;
}
